body {
  background-color: black;
}
img {
  border: 5px solid #fff;
  border-radius: 1%;
  width: 100%;
}
h1 {
  text-transform: uppercase;
  font-size: 3 rem;
}
.container {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}
